<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>門庭</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap-reboot.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <header class="gl-header">
            <h1><a href="index.html">門庭</a></h1>
            <p>東京都江東区富岡1-6-6TTRビル1F<br>
                TEL:03-5875-9666<br>
                毎週月曜定休
            </p>
        </header>
        <main>
            <p>門庭</p>
        </main>
        <div id="app">
            <div class="container">
                <section class="msg">
                    <div class="msg_box">
                        <img src="image/mise.jpg" alt="イメージ01">
                        <div class="msg_text">
                            <h3>門庭は肉問屋直営店です</h3>
                            <p>門前仲町の庭でありたい―――<br>
                                その思いから名付けた『門庭』は、<br><br>
                                創業40念を超える老舗肉卸問屋『山全』<br>
                                直営の焼き肉店です。
                            </p>
                        </div>
                    </div>
                    <div class="msg_box">
                        <img src="image/namaniku.jpg" alt="イメージ02">
                        <div class="msg_text">
                            <h3>こだわりの味</h3>
                            <p>門庭では毎月、<br>
                                九州和牛を中心にプロが厳選して<br>
                                仕入れを行っています。<br><br>
                                老舗肉卸問屋直営だからこそ叶う<br>
                                質・鮮度・味を、ぜひご堪能ください。
                            </p>
                        </div>
                    </div>
                </section>
                <section class="course" id="course">
                    <h2>コースメニュー</h2>
                    <div class="course_box">
                        <div class="course_info">
                            <img src="image/gensen.jpg" alt="門庭厳選コース">
                            <div class="course_detail">
                                <h3>門庭厳選コース(11品)<span>税込3,500円</span></h3>
                                <p>キムチ/ナムル/チョレギサラダ/<br>
                                    タン塩/トントロ/カルビ/ハラミ/ヒレ/鶏もも/<br>
                                    テールおじやorミニ冷麺/デザート
                                </p>
                            </div>
                        </div>
                        <div class="menu">
                            <label for="course1">メニューの写真を表示</label>
                            <input type="checkbox" id="course1">
                            <div class="menu_box">
                                <ul class="item-11">
                                    <li>
                                        <img src="image/kimuti.jpg" alt="">
                                            <p>キムチ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/namuru.jpg" alt="">
                                            <p>ナムル</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/sarada.jpg" alt="">
                                            <p>チョレギサラダ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/tan.jpg" alt="">
                                            <p>タン塩</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/ton.jpg" alt="">
                                            <p>トントロ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/karubi.jpg" alt="">
                                            <p>カルビ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/gensen.jpg" alt="">
                                            <p>ハラミ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/hire.jpg" alt="">
                                            <p>ヒレ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/tori.jpg" alt="">
                                            <p>鶏もも</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/ojiya.jpg" alt="">
                                            <p>テールおじやorミニ冷麺</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/desert.jpg" alt="">
                                            <p>デザート</p>
                                        </img>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course_box">
                        <div class="course_info">
                            <img src="image/zeitaku.jpg" alt="門庭贅沢コース">
                            <div class="course_detail">
                                <h3>門庭贅沢コース(10品)<span>税込5,000円</span></h3>
                                <p>キムチ/ナムル/門庭サラダ/<br>
                                    タン塩/和牛上カルビ/和牛上ロース/国産豚バラ/<br>
                                    本日のおすすめ和牛肉2点/<br>
                                    テールおじやorミニ冷麺/デザート
                                </p>
                            </div>
                        </div>
                        <div class="menu">
                            <label for="course2">メニューの写真を表示</label>
                            <input type="checkbox" id="course2">
                            <div class="menu_box">
                                <ul>
                                    <li>
                                        <img src="image/kimuti.jpg" alt="">
                                            <p>キムチ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/namuru.jpg" alt="">
                                            <p>ナムル</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/sarada.jpg" alt="">
                                            <p>門庭サラダ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/tan.jpg" alt="">
                                            <p>タン塩</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/karubi.jpg" alt="">
                                            <p>和牛上カルビ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/zeitaku.jpg" alt="">
                                            <p>和牛上ロース</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/ton.jpg" alt="">
                                            <p>国産豚バラ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/hire.jpg" alt="">
                                            <p>本日のおすすめ和牛肉2点</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/ojiya.jpg" alt="">
                                            <p>テールおじやorミニ冷麺</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/desert.jpg" alt="">
                                            <p>デザート</p>
                                        </img>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course_box">
                        <div class="course_info">
                            <img src="image/akami.jpg" alt="門庭究極の赤身コース">
                            <div class="course_detail">
                                <h3>門庭究極の赤身コース(10品)<span>税込6,000円</span></h3>
                                <p>キムチ/ナムル/サラダ/<br>
                                    和牛黒タン塩/カメノコ/ヒレ/<br>
                                    和牛上ハラミ/本日の厳選赤身肉2品/<br>
                                    テールおじやorミニ冷麺/デザート
                                </p>
                            </div>
                        </div>
                        <div class="menu">
                            <label for="course3">メニューの写真を表示</label>
                            <input type="checkbox" id="course3">
                            <div class="menu_box">
                                <ul>
                                    <li>
                                        <img src="image/kimuti.jpg" alt="">
                                            <p>キムチ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/namuru.jpg" alt="">
                                            <p>ナムル</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/sarada.jpg" alt="">
                                            <p>サラダ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/tan.jpg" alt="">
                                            <p>和牛黒タン塩</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/karubi.jpg" alt="">
                                            <p>カメノコ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/hire.jpg" alt="">
                                            <p>ヒレ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/gensen.jpg" alt="">
                                            <p>和牛上ハラミ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/akami.jpg" alt="">
                                            <p>本日の厳選赤身肉2品</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/ojiya.jpg" alt="">
                                            <p>テールおじやorミニ冷麺</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/desert.jpg" alt="">
                                            <p>デザート</p>
                                        </img>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="course_box">
                        <div class="course_info">
                            <img src="image/kiwami.jpg" alt="最高峰の極みコース">
                            <div class="course_detail">
                                <h3>最高峰の極みコース(10品)<span>税込8,000円</span></h3>
                                <p>キムチ/ナムル/サラダ/海鮮盛り/<br>
                                    和牛黒タン塩/和牛ブリスケ(ササバラ)/<br>
                                    和牛ヒレ(シャトーブリアン)/和牛上ハラミ/<br>
                                    テールおじやorミニ冷麺/デザート
                                </p>
                            </div>
                        </div>
                        <div class="menu">
                            <label for="course4">メニューの写真を表示</label>
                            <input type="checkbox" id="course4">
                            <div class="menu_box">
                                <ul>
                                    <li>
                                        <img src="image/kimuti.jpg" alt="">
                                            <p>キムチ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/namuru.jpg" alt="">
                                            <p>ナムル</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/sarada.jpg" alt="">
                                            <p>サラダ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/kaisen.jpg" alt="">
                                            <p>海鮮盛り</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/tan.jpg" alt="">
                                            <p>タン塩</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/kiwami.jpg" alt="">
                                            <p>和牛ブリスケ(ササバラ)</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/hire.jpg" alt="">
                                            <p>和牛ヒレ(シャトーブリアン)</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/gensen.jpg" alt="">
                                            <p>和牛上ハラミ</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/ojiya.jpg" alt="">
                                            <p>テールおじやorミニ冷麺</p>
                                        </img>
                                    </li>
                                    <li>
                                        <img src="image/desert.jpg" alt="">
                                            <p>デザート</p>
                                        </img>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="attention">
                        <p>各コース2名様より承ります。<br>
                            全てのコースにプラス1,500円で2時間飲み放題が付けられます(L.O.30分前)<br>
                            ※上記コース以外にもご予算・お好みでコースをおつくりいたします。<br>
                            お気軽にお問い合わせください。
                        </p>
                    </div>
                </section>
                <section class="pickup">
                    <h2>ピックアップメニュー</h2>
                    <div class="pickup_box">
                        <img src="image/kimuti.jpg" alt="白菜キムチ">
                        <div class="pickup_text">
                            <h4>白菜キムチ</h4>
                            <p>この道45年の沖縄出身の料理長が<br>
                                丹精込めて毎日漬けています。<br>
                                馬からの味をお楽しみ下さい。
                            </p>
                        </div>
                    </div>
                    <div class="pickup_box">
                        <img src="image/ojiya.jpg" alt="テールおじや">
                        <div class="pickup_text">
                            <h4>テールおじや</h4>
                            <p>和牛の尾を使用した<br>
                                栄養たっぷりなテールおじや<br>
                                うまみとコクがたまらない逸品です。
                            </p>
                        </div>
                    </div>
                    <div class="pickup_box">
                        <img src="image/horumon.jpg" alt="ホルモン5種盛り">
                        <div class="pickup_text">
                            <h4>ホルモン5種盛り</h4>
                            <p>屠場より入荷した<br>
                                鮮度抜群のホルモンを<br>
                                プリプリのままご提供いたします。
                            </p>
                        </div>
                    </div>
                    <div class="pickup_box">
                        <img src="image/karubi.jpg" alt="和牛カルビ">
                        <div class="pickup_text">
                            <h4>和牛カルビ</h4>
                            <p>その時に入荷した和牛バラを<br>
                                厳選し選び抜かれたカルビです。<br>
                                味はもちろんコスパも最高です。
                            </p>
                        </div>
                    </div>
                    <div class="recomend">
                        <h3>あなたへのおすすめ</h3>
                        <p class="que">あなたにピッタリなメニューをご提案します。</p>
                        <div class="qbox" v-if="status === 1">
                            <p class="que">あなたの焼き肉の楽しみ方は？</p>
                            <button v-on:click="q1('meats')">お肉一択！</button>
                            <button v-on:click="q1('ippin')">一品料理も好き</button>
                        </div>
                        <div class="qbox" v-if="status === 2">
                            <p class="que">どちらが気になりますか？</p>
                            <button v-on:click="q2(1)">いろいろな味を楽しみたい</button>
                            <button v-on:click="q2(2)">厳選された逸品を楽しみたい</button>
                        </div>
                        <div class="qbox" v-if="status === 3">
                            <p class="que">どちらが気になりますか？</p>
                            <button v-on:click="q2(1)">まずはコレでしょ！</button>
                            <button v-on:click="q2(2)">〆の一杯が至高</button>
                        </div>
                        <div class="qbox" v-if="status === 4">
                            <p class="ans">あなたにぴったりなのは・・・</p>
                            <img v-bind:src="resultImg">
                            <p><span>{{ resultName }}</span>です！<br>
                                お店に来てぜひ注文してみてくださいね♪
                            </p>
                            <button class="return" v-on:click="reset">もう一度</button>
                        </div>
                    </div>
                </section>
                <section class="store">
                    <h2>店舗案内</h2>
                    <p>お肉を焼いた煙はテーブル下に吸引されるので、<br>
                        煙を気にすることなく、お食事が楽しめます。
                    </p>
                    <ul>
                        <li>
                            <img src="image/naka1.jpg" alt="">
                            <p>テーブル席<br>(2～6名様用)</p>
                        </li>
                        <li>
                            <img src="image/naka2.jpg" alt="">
                            <p>テーブル席<br>(8～13名様用)</p>
                        </li>
                        <li>
                            <img src="image/naka3.jpg" alt="">
                            <p>25名様～38名様で<br>貸し切り承ります。</p>
                        </li>
                    </ul>
                    <table>
                        <tr>
                            <th>営業時間</th>
                            <td>【火～土】17:00～24:00(Last Order 23:00)<br>
                                【日】16:00～23:00(Last Order 22:00)<br>
                                【ランチ(火～金)】11:00～14:00(Last Order 13:00)
                            </td>
                        </tr>
                        <tr>
                            <th>定休日</th>
                            <td>毎週月曜日</td>
                        </tr>
                        <tr>
                            <th>住所</th>
                            <td>東京都江東区富岡1-6-6TTRビル1F</td>
                        </tr>
                        <tr>
                            <th>電話</th>
                            <td>03-5875-9666</td>
                        </tr>
                        <tr>
                            <th>クレジットカード・電子マネー</th>
                            <td>ご利用いただけます</td>
                        </tr>
                        <tr>
                            <th>その他ご案内</th>
                            <td>全席喫煙可能・近隣にパーキングあり</td>
                        </tr>
                    </table>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12964.96809982562!2d139.78838588939362!3d35.67104218469605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018891274c53765%3A0xc1848b77822e4fea!2z44CSMTM1LTAwNDcg5p2x5Lqs6YO95rGf5p2x5Yy65a-M5bKh77yR5LiB55uu77yW4oiS77yW!5e0!3m2!1sja!2sjp!4v1662973282525!5m2!1sja!2sjp" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <table>
                        <tr>
                            <th>アクセス</th>
                            <td>地下鉄東西線 門前仲町駅 A2番出口 徒歩1分<br><br>
                                2番出口を右に出て、デイリーヤマザキさんと花屋さんの間に小道に入って10メートルほど先の右手にあります。
                            </td>
                        </tr>
                    </table>
                </section>
                <section class="reserve">
                    <h2>席を予約する</h2>
                    <img src="image/yoyaku.jpg" alt="ご予約">
                    <p>肉問屋直営店ならではの、こだわり品質の和牛を取り揃えております。<br>
                        皆様のご来店を心よりお待ちしております。
                    </p>
                    <a href="form.html" class="tel web">Webサイトから予約</a>
                    <a href="03-5875-9666" class="tel">Tel:03-5875-9666</a>
                    <a href="" class="link">各グルメサイトからは24時間空席確認とネット予約が可能です。<br>
                        併せてご利用ください。
                    </a>
                    <div class="sns">
                        <p>門庭を気に入っていただけた方は<br>
                            いいね＆フォローお願いします!
                        </p>
                        <div class="sns_btn">
                            <a href=""><p>facebook</p></a>
                            <a href=""><p>twitter</p></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <aside class="top">
            <a href="#"><p>topへ戻る</p></a>
        </aside>
        <footer class="gl-footer">
            <p><small>&copy;門庭</small></p>
        </footer>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</html>
